/* ========================== */
/* === Les styles globaux === */

:root {
    --primary: #ffde59;
    --secondary: #38b6ff;
    --background: #23242a;
    --dark-background: rgb(20, 24, 26);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* ======================= */
/* === Style du Header === */
#Navbar{
    background-color: rgb(20, 24, 26);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    height: 70px;
    max-width: 100vw;
    width: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: white;
    border-bottom: 2px solid var(--primary);
}

#logo{
    width: 50px;
    height: 50px;
}

#Navbar nav{
    display: flex;
    align-items: center;
    justify-content: start;
}

#Navbar nav a:nth-child(1) {
    margin-right: 80px;
    display: flex;
    align-items: center;

}

#Navbar nav a h6{
    margin-right: 20px;
}


#Navbar nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

#Navbar nav a:hover {
    color: var(--primary);
    transform: scale(1.1);

}

#categories{
    height: 26px;
}

.drop-down-box{
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 3px;
    z-index: 1;
    background-color: #f1f1f1;
    top: 5.5%;
    left: 46.5%;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);

}

.drop-down-box a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
}
.drop-down-box a:hover{
    background: #ddd;
    border-radius: 3px;
}

#categories:hover #drop-down-box{
    display: block;
}

#nav-options{
    display: flex;
    align-items: center;
}

.search-bar{
    border: 1px solid var(--primary);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 15px;
}

.search-bar input{
    background-color: transparent;
    color: white;
    outline: none;

    border-radius: 30px;
    border: none;

    margin-left: 10px;
}

.search-bar:focus-within {
    background-color: white; /* Remplacez #yourDesiredColor par la couleur que vous souhaitez utiliser */
}

.search-bar input:focus {
    color: var(--dark-background)
}

.search-bar i{
    background: var(--primary);
    border-radius: 50%;
    color: var(--dark-background);
    padding: 5px;

    cursor: pointer;
}

#nav-options button{
    padding: 10px ;
    border-radius: 20px;
    border: 1px solid var(--primary);
    outline: none;
    cursor: pointer;
    background: rgb(20, 24, 26);
    color: white;
}

#nav-options button:hover {
    background: var(--primary);
    color: rgb(20, 24, 26);
}   


/* Navbar section */

.show{
    display: flex !important;
}

/* #nav-options input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url("./image/times-circle-solid.svg");
    width: 1em;
    height: 1em;
    opacity: .2;
    cursor: pointer;
} */


/* CSS Responsive */
@media only screen and (max-width: 768px) {
    /* Modifiez la mise en page du Navbar pour les appareils avec une largeur d'écran maximale de 768px */
    #Navbar {
        height: auto;
        flex-direction: column; 
        padding: 10px; 
    }
    
    #Navbar nav {
        margin-top: 20px;
    }
    #Navbar nav a {
        margin: 0 20px; 
    }

    #nav-options {
        margin-top: 20px; 
    }

    .search-bar {
        margin-right: 20px; 
    }
}